*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

.center {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: #f4f0e5;
}


section.padaria {
    background-color: #f4f0e5;
}

.padaria .center {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: #f4f0e5;
    border-bottom: 1px solid orange;
}

.padaria .center img {
    width: 200px;
}

.padaria .center ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.padaria .center ul li {
    list-style-type: none;
    margin-left: 20px;
}

.padaria .center ul li a {
    display: block;
    padding-bottom: 40px;
}

section.desc {
    background-color: #f4f0e5;
}

.desc .center h2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}

.desc .center p {
    font-size: 24px;
    color: #de8e37;
    padding-top: 20px;
    padding-bottom: 20px;
}

.desc .center img {
    width: 700px;
}

.desc .assados > .center {
    margin-top: 20px;
    background-color: #de8e37;
    padding: 0 90px;
}

.desc .assados > .center h2 {
    color: white;
    font-size: 30px;
}

.desc .assados > .center h3 {
    font-size: 24px;
    margin-top: 20px;
    color: white;
}

.desc .assados > .center p {
    font-size: 18px;
    color: white;
    line-height: 30px;
}

.desc .assados > .center img {
    width: 400px;
    margin-bottom: 20px;
}

section.contato {
    background-color: #f4f0e5;
}

section.contato .center h2 {
    padding-top: 20px;
}

section.contato .center ul li {
    list-style-type: none;
    margin-top: 10px 0;
    padding-bottom: 20px ;
}

section.contato .center ul li span {
    font-weight: bold;
}




